h2, .uni-name {
    font-family: 'Crimson Text', serif !important;
}
.uni-name{
    color: #202C45 !important;
    letter-spacing: 0.08em !important;
}
.box {
    background-color: rgb(139, 7, 7);
    padding: 50px;
    text-align: center;
    font-size: 35px;
    color: white;
}

#footer {
    position: sticky;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    text-align: right;
}

.navbar{
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    margin-top: 25px;
}

.main-nav {
    padding: 0.75rem;
    background-color: #fff !important;
    border: 2px solid #0d6efd;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.dashboard-notices {
    margin-bottom: 2rem;
}

.dashboard-notices .card {
    margin: 0;
}

table.dataTable.no-footer {
    border: none;
}

.table.dataTable {
    border: 1px solid #ddd;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .20rem;
}

table.dataTable thead th, table.dataTable thead td {
    border-top: 1px solid #ddd;
    border-bottom: none;
}

.card .card-header,
.card .card-footer {
    background-color: #094fa0;
    padding: 10px 15px;
    color: #fff;
}
.card .card-footer {
    padding: 3px;
    background-color: #4c93cd;
}
.card .card-footer a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}
.course-card {
    min-height: 150px;
}

.select-course {
    display: block;
    width: 100%;
    padding: 0.15rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}

.fa-cog {
    color: black;
}

.fa-sign-out-alt{
    color: black;
}

table {
    border-collapse: initial;
}

.table{
    border: 1px solid black;
    margin-top: 20px;
}

.table thead th {
    border-bottom: 0px solid #dee2e6;
}

tbody, td, tfoot, th, thead, tr {

    border-style: none;

}

.left{
    float:left;
    width: 60%;
    padding-top: 10px;
    padding-left: 50px;
    font-size: 25px;
    font-weight: bold;
}

.right {
    width: 40%;
    float: left;
    padding-top: 10px;
}


.link-color{
    color: black;
    padding-left: 40px;
    margin-top: 4px;
    display: inline-block;
    /* border: 2px solid red; */
}
.mod{
    padding: 0px;
}

.Notes{
    border: 1px solid black;
    padding: 15px;
    margin-top: 20px;
}

.admin-dashboard .fas {
    font-size: 2rem;
    color: #495057;
}

.fa-minus-circle{
    color: rgb(190, 32, 32);
}

.fa-download{
    color: rgb(0, 119, 255);
}