<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<body>

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo.gif}" alt="" width="30" height="40">
                Department of Information And Communication Engineering
            </a>

            <ul class="nav justify-content-end align-items-center">
                <li class="nav-item">
                    Welcome, Emzaz Ahmed
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-cog"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-user-graduate"></i>
            <h5 class="card-title">Students</h5>
            <a th:href="@{/student}" class="card-link">View</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-chalkboard-teacher"></i>
            <h5 class="card-title">Teachers</h5>
            <a th:href="@{/teacher}" class="card-link">View</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-book"></i>
            <h5 class="card-title">Courses</h5>
            <a th:href="@{/course}" class="card-link">View</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-file-csv"></i>
            <h5 class="card-title">Upload Student List</h5>
            <a th:href="@{/uploadStudent}" class="card-link">View</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-file-csv"></i>
            <h5 class="card-title">Upload Teacher List</h5>
            <a th:href="@{/uploadTeacher}" class="card-link">View</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-file-csv"></i>
            <h5 class="card-title">Upload Courses</h5>
            <a th:href="@{/uploadCourse}" class="card-link">View</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-trophy"></i>
            <h5 class="card-title">Exam Results</h5>
            <a href="#" class="card-link">View</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-percentage"></i>
            <h5 class="card-title">Attendance</h5>
            <a href="#" class="card-link">View</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-bullhorn"></i>
            <h5 class="card-title">Notices</h5>
            <a href="#" class="card-link">View</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-calendar-alt"></i>
            <h5 class="card-title">Events</h5>
            <a href="#" class="card-link">View</a>
        </div>
    </div>

</div>



<div th:replace="fragments/footer :: footer"/>

</body>

</html>