<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: header" />

<body>

<div th:replace="fragments/navigation :: navbar"></div>


<div class="container my-2">
    <h1>Attendance List</h1>

    <div class="card border-primary table-responsive" style="margin: 0">
        <div class="card-header">
            <div>
                <form>
                    <div class="row ">
                        <div class="col-1" style="padding-left: 35px;">
                            Batch
                        </div>
                        <div class="col-3" style="padding-left: 0;">
                            <input type="text" name="batch" class="form-control" placeholder="5th/6th/7th/8th/9th">
                        </div>

                        <div class="col-1" style="padding-left: 35px;">
                            Date
                        </div>
                        <div class="col-3" style="padding-left: 0;">
                            <input type="date" name="date" class="form-control">
                        </div>

                        <div class="col-1">
                            <button type="submit" class="btn btn-light">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body text-secondary">
            <div class="row">

            </div>

            <div class="row">
                <div style="margin: 15px 0 15px 0">
                    <h5>Selected Batch: <span style="color: #4c93cd;" th:text="${param.batch}"></span></h5>
                </div>
                <div th:if="${date} and ${batch}">
                    <a th:href="@{'/courses/' + ${courseId} + '/attendance/data/download' + '?batch=' + ${batch} + '&date='+ ${date}}"
                        class="btn btn-primary">Download Attendance CSV</a>
                </div>
            </div>


            <table id="attendance_table" border="1" class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Student Id</th>
                    <th>Batch</th>
                    <th>Date</th>
                    <th>Present</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="attendance : ${attendanceData}">
                    <td th:text="${attendance.getCourse().getCourseCode()}"/>
                    <td th:text="${attendance.getStudent().getStudentId()}"/>
                    <td th:text="${attendance.getStudent().getBatch()}"/>
                    <td th:text="${attendance.getDate()}"/>
                    <td th:text="${attendance.getPresent()}"/>
                </tr>
                </tbody>
            </table>
            <div th:if="${date} and ${batch}">
                <a th:href="@{'/courses/' + ${courseId} + '/attendance/data/download' + '?batch=' + ${batch} + '&date='+ ${date}}"
                   class="btn btn-primary">Download Attendance CSV</a>
            </div>
        </div>
    </div>

</div>



<div th:replace="fragments/footer :: footer"/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

</body>
</html>