<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />

<body>

<div th:replace="fragments/navigation :: navbar"></div>


<div class="container my-2">
    <h1>Attendance List</h1>
    <form th:action="@{'/courses/' + ${courseId} + '/attendance'}" th:object="${attendanceForm}" method="POST">
        <table id="attendance_table" border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Name</th>
                <th>Student Id</th>
                <th>Present</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="attendance, itemStat : *{attendances}">
                    <td th:text="${attendance.getStudent().getFirstName()}"></td>
                    <td th:text="${attendance.getStudent().getStudentId()}"></td>

                    <td>
                        <div class="form-check">
                            <input  th:field="*{attendances[__${itemStat.index}__].present}"
                                    th:id="'attend-' + ${itemStat.index}"
                                    class="form-check-input"
                                    type="checkbox">
                            <input  th:field="*{attendances[__${itemStat.index}__].student}" hidden>
                            <input  th:field="*{attendances[__${itemStat.index}__].course}" hidden>
                            <label class="form-check-label" th:for="'attend-' + ${itemStat.index}">Present</label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Save Attendance</button>
    </form>
</div>



<div th:replace="fragments/footer :: footer"/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
</body>
</html>