<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<body>

<div th:replace="fragments/navigation :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="dashboard-notices">
            <div class="card border-primary table-responsive">
                <div class="card-header">Recent Notices</div>
                <div class="card-body text-secondary">
                    <table class="table table-hover" id="dashboard-notice">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="notice : ${listOfNotices}">
                            <td th:text="${notice.getTitle()}"/>
                            <td th:text="${notice.getDateTime()}"/>
                            <td th:text="${notice.getNoticeDetails()}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="courses">
        <div class="card border-primary table-responsive" style="margin: 0">
            <div class="card-header">
                <div class="row">
                    <div class="col-1">Courses</div>
                    <form th:action="@{/dashboard}" class="col-3">
                        <select th:name="semester" onchange="this.form.submit()" class="select-course">

                            <option value="">Select Semester</option>
                            <option th:each="semester : ${semesters}" th:value="${semester}" th:selected="${param.semester} == ${semester}" th:text="${semester}"></option>

                        </select>
                    </form>
                </div>
            </div>
            <div class="card-body text-secondary">
                <div class="row">

                </div>

                <div class="row">
                    <div style="margin: 15px 0 15px 0">
                        <h5>Selected Semester: <span style="color: #4c93cd;" th:text="${param.semester} ?: '1-1' "></span></h5>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <th:block th:each="course : ${listOfCourses}">
                            <div class="col">
                                <div class="card border-default course-card">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${course.getCourseCode()}"></h5>
                                        <h6 class="card-text mb-2 text-muted" th:text="${course.getCourseTitle()}"></h6>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <a th:href="@{'/courses/' + ${course.getId()} + '/notes'}" class="card-link link-color">Notes</a>
                                            </div>
                                            <div class="col">
                                                <a th:href="@{'/courses/' + ${course.getId()} + '/notice'}" class="card-link link-color">Notices</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

<script>
    $(document).ready(function() {
        $('#dashboard-notice').DataTable({
            "lengthMenu": [5, 10, 15, 20],
            "pageLength": 5
        });
    } );
</script>

</body>

</html>