<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<body>

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo.gif}" alt="" width="30" height="40">
                Department of Information And Communication Engineering
            </a>

            <ul class="nav justify-content-end align-items-center">
                <li class="nav-item">
                    Welcome, Emzaz Ahmed
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-cog"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Makeup Class</td>
            <td>1 January, 2022 2:20PM</td>
        </tr>
        <tr>
            <td>Cancelation Of Monday Class</td>
            <td>1 January, 2022 2:00</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>

<div class="container">

    <div class="courses">

        <div class="row">
            <form th:action="@{/}">
                <select th:name="semester" class="form-control" onchange="this.form.submit()">

                    <option value="">Select Semester</option>
                    <option th:each="semester : ${semesters}" th:value="${semester}" th:selected="${param.semester} == ${semester}" th:text="${semester}"></option>

                </select>
            </form>
        </div>

        <div class="row">
            <div class="left" >
                <h5>Registered Courses : <span th:text="${param.semester} ?: '1-1' "></span></h5>
            </div>
        </div>

        <div class="row">
            <th:block th:each="course : ${listOfCourses}">
                <div class="col-md-4">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${course.getCourseCode()}"></h5>
                                <h6 class="card-text mb-2 text-muted" th:text="${course.getCourseTitle()}"></h6>
                                <div class="card-footer mod">
                                    <a th:href="@{'/courses/' + ${course.getId()} + '/notes'}" class="card-link link-color">Notes</a>
                                    <a href="#" class="card-link link-color">Notices</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>

</html>