<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<body>

<div th:replace="fragments/navigation :: navbar"></div>

<div class="container">
    <br>
    <h2>Upload File</h2>
    <hr class="mb-4">

    <form id="uploadNotes" name="uploadNotes" method="post" th:action="@{'/courses/' + ${courseId} + '/notes/upload'}" enctype="multipart/form-data">

        <div class="form-group">
            <input type="file" name="files" multiple required class="form-control mb-4 col-4"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-lg" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>