<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: header" />

<body>

<div th:replace="fragments/navigation :: navbar"></div>


<div class="container my-2">
    <div sec:authorize="hasRole('ROLE_TEACHER')">
        <a th:href="@{'/courses/' + ${courseId} + '/notice/noticeForm'}" class="btn btn-primary btn-sm mb-3">Add Notice</a>
    </div>
    <h1>Notices List</h1>
    <table id="notice_table" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Description</th>
            <th sec:authorize="hasRole('ROLE_TEACHER')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice : ${notices}">
            <td th:text="${notice.getTitle()}"/>
            <td th:text="${notice.getDateTime()}"/>
            <td th:text="${notice.getNoticeDetails()}"/>
            <td sec:authorize="hasRole('ROLE_TEACHER')">
                <a th:href="@{'/courses/' + ${courseId} + '/notice/updateNotice/' + ${notice.getId()}}" class="btn btn-primary btn-sm">Update</a>
                <a th:href="@{'/courses/' + ${courseId} + '/notice/deleteNotice/' + ${notice.getId()}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>



<div th:replace="fragments/footer :: footer"/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#notice_table').DataTable();
    });
</script>
</body>
</html>