<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<body>

<div th:replace="fragments/navigation :: navbar"></div>


<div class="container my-2">
    <a th:href="@{/teacherForm}" class="btn btn-primary btn-sm mb-3">Add Teacher</a>
    <h1>Teachers List</h1>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Teacher Id</th>
            <th>Contact Number</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${listOfTeachers}">
            <td th:text="${teacher.getUserName()}"></td>
            <td th:text="${teacher.getEmail()}"></td>
            <td th:text="${teacher.getFirstName()}"></td>
            <td th:text="${teacher.getLastName()}"></td>
            <td th:text="${teacher.getTeacherId()}"></td>
            <td th:text="${teacher.getContactNumber()}"></td>

            <td><a th:href="@{/updateTeacher/{id}(id=${teacher.getId()})}" class="btn btn-primary">Update</a> </td>
            <td><a th:href="@{/deleteTeacher/{id}(id=${teacher.getId()})}" class="btn btn-danger">Delete</a> </td>
        </tr>
        </tbody>
    </table>
</div>



<div th:replace="fragments/footer :: footer"/>

</body>
</html>